@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');

h1 {
  font-family: 'Kadwa', sans-serif;
  font-weight: 100;
  font-size: 64px;
  color: #3A3A3A 
}

h2 {
    font-family: 'Kadwa', sans-serif;
    font-weight: 100;
    font-size: 48px;
    color: #3A3A3A 
  }

h3 {
    font-family: 'Kadwa', sans-serif;
    font-weight: 100;
    font-size: 20px; 
    color: #3A3A3A 
  }

/* reference conor and ellie's css file to match */

.login-container {
  background-color: #FEFAF6;              
  font-family: 'Kadwa', sans-serif;
}

.palmtree-image {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 90%;
  z-index: 0;
}

.sloth-image {
  position: fixed;
  right: 0px;
  bottom: 0;
  height: 30%;
  z-index: 0;
}

.signup-link {
  color: #A3CFDD;
  font-weight: bold;
  text-decoration: underline;
}